@media screen and (max-width: 583px) {
    .social-icons {
        width: 50% !important;
    }
    .title {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 727px) {
    .title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 95%;
        margin: 2rem auto 1rem auto;
    }
}
@media screen and (max-width: 768px) {
    .blog-post {
        align-items: center;
    }
    .post-title {
        text-align: center;
    }
    section .blog-photo {
        height: 250px;
    }
    section .post-p {
        width: 90%;
    }
    footer .nav-ul {
        display: none;
    }
    footer .mobile-nav {
        display: flex;
        flex-direction: column;
        height: 400px;
        align-items: center;
        justify-content: space-evenly;
    }
    footer .mobile-nav li a {
        color: rgb(148, 148, 148);
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    footer .mobile-nav li a:hover, 
    footer .mobile-nav li a:focus, 
    footer .mobile-nav li a:active {
        color: #c55050;
    }
    footer .copyright {
        margin-top: 4rem;
    }

    footer {
        margin-top: -10rem !important;
    }
}