  .hamburger {
    display: none;
    background: none;
    outline: none;
    border: none;
  }
  .mobile-nav {
    display: none;
  }
  .mobile-nav li a.is-open {
    color: #00ffffb3
  }
  header {
    position: relative;
  }
  
/* copy and paste to other .css files for easy nav add */

.home-top:hover path, 
.home-top:focus-within path, 
.home-top:active path {
  fill: #c55050;
  transition: .2s ease-in-out;
}
.nav-ul-top {
  position: absolute;
  top: -4rem;
  right: 0;
  color: rgb(168, 168, 168);
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  z-index: 3;
}
.is-active-top {
  color: #c55050;
}
.nav-ul-top ul {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-ul-top li {
  margin: 0 auto;
}
.nav-ul-top li a {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: .2s ease-in-out;
}
.nav-ul-top li a:hover, 
.nav-ul-top li a:focus, 
.nav-ul-top  li a:active {
  color: #c55050;
}
.svg-container {
  width: 75px;
  text-align: center;
}
/* copy and paste to other .css files for easy nav add */

  header {
    margin: 6.5rem auto 6.5rem auto;
  }

  .title {
    color: #833636;
    font-size: clamp(3rem, 6vw, 5rem);
    letter-spacing: .15rem;
    text-align: center;
    position: relative;
  }
  .period {
    display: inline-block; /* animation on span won't work without display property */
    color: rgb(168, 168, 168);
    text-shadow: 0px -3px 9px rgba(255, 255, 255, 0.8), 0px 1px 9px rgba(255, 255, 255, 0.8);
    animation: Jump 1.5s ease-in-out 5;
    font-size: clamp(2.5rem, 3vw, 3rem);
  }
  @keyframes Jump {
    50% {
      transform: translateY(-7px);
    }
  }

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin: .8rem auto;
  }
  .icon path {
    fill: "#a8a8a8";
    transition: .35s;
  }
  .icon:hover path, 
  .icon:focus-within path, 
  .icon:active path {
    fill: #c55050;
  }

/* BLOG STYLES */
  .container {
    position: relative;
    width: 1440px;
    margin: 0rem auto 5rem auto;
    max-width: 100%; 
    display: flex;
    flex-direction: column-reverse;
  }

  .blog-header {
    width: 90%;
    margin: 0 auto 9rem auto;
    display: flex;
    flex-direction: column;
  }

  .blog-photo-small {
    margin-bottom: 1rem;
    height: 450px;
    min-width: 75%;
  }
  .blog-photo-big {
    margin-bottom: 1rem;
    height: 500px;
    max-width: 75%;
  }

  .post-title {
    font-weight: 700;
    font-size: clamp(2.5rem, 6vw, 3.5rem);
    color: #c55050;
    padding-bottom: .75rem;
    word-wrap: break-word;
  }
  
  .author {
    display: flex;
    align-items: center;
    margin-bottom: .35rem;
    width: 65%;
    border-bottom: 1px solid rgba(0, 255, 255, 0.702);
    padding-bottom: .5rem;
  }
  .author-info {
    margin-bottom: .3rem;
  }

  .name {
    font-family: 'Roboto', sans-serif;
    color: rgb(168, 168, 168);
    font-size: clamp(.9rem, 1.5vw, 1.1rem);
  }
  .date {
    font-family: 'Roboto', sans-serif;
    color: rgb(131, 131, 131);
    font-size: clamp(.8rem, 1.35vw, .9rem);
  }

  .profile-pic {
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
  
  .post-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(202, 201, 201);
    font-size: clamp(1.15rem, 2.5vw, 1.3rem);
    width: 65%;
    padding-top: 2rem;
  }

  .blog-btn {
    color: rgb(202, 201, 201);
    background-color: transparent;
    border: 2px solid rgb(202, 201, 201);
    box-shadow: 0px 2px 3px rgba(95, 88, 88, 0.4);
    border-radius: 40px;
    cursor: pointer;
    margin: 2rem 0 1rem 0;
    font-weight: 600;
    font-family: 'Open-Sans', sans-serif;
    font-size: .9rem;
    transition: .2s ease-in-out;
    width: max-content;
  }
  .blog-btn:hover, 
  .blog-btn:focus-within, 
  .blog-btn:active {
    color: rgb(23, 22, 22);
    background-color: #c55050;
    border: 2px solid rgb(23, 22, 22);
  }
  .blog-btn a {
    text-decoration: none;
    display: block; /* display block allows height and width to be edited */
    color: inherit;
    height: 3.1rem; /* specifying height/width makes whole button clickable */
    width: 8.8rem;
    line-height: 3.1rem;
    font-size: 1.1rem;
  }

/* NAV/FOOTER STYLES */
    nav {
      width: 100%;
    }

  @keyframes Pulse {
    50% {
      transform: scale(1.2);
    }
  }
  .heart {
    animation: Pulse 1.5s infinite ease-in-out;
  }

  .mobile-heart {
    display: none;
  }

  .footer-mobile-nav {
    display: none;
  }

  .nav-ul {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .nav-ul li {
    margin: 0 auto;
    /* width: max-content; */
  }

  .nav-ul li a {
    color: rgb(168, 168, 168);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    transition: .2s;
    position: relative; /* needed for underline */
    font-size: clamp(1.1rem, 2vw, 1.3rem);
  }
  .nav-ul li a.is-open, .footer-mobile-nav li a.is-open {
    color: #c55050;
  }
  .nav-ul li a:hover, 
  .nav-ul li a:focus, 
  .nav-ul li a:active {
    color: #c55050;
  }

    /* UNDERLINE FROM MIDDLE */
.hover-text-from-middle::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  right: 100%;
  bottom: -5px;
  border-bottom: 2px solid #c55050;
  transition: .5s;
}
.hover-text-from-middle::before {
  content: '';
  position: absolute;
  display: block;
  right: 50%;
  left: 100%;
  bottom: -5px;
  border-bottom: 2px solid #c55050;
  transition: .5s;
}

.item-to-underline:hover .hover-text-from-middle::after {
  right: -2px; /* 10px goes to the edge of the text, 0 is too far */
}
.item-to-underline:hover .hover-text-from-middle::before {
  left: 0;
}

  .home-bottom {
    position: absolute;
    bottom: 3.2rem;
    left: 50%;
    margin-left: -21px;
    cursor: pointer;
  }

  .home-bottom:hover path, 
  .home-bottom:focus-within path, 
  .home-bottom:active path {
    fill: #c55050;
    transition: .2s;
  }

  .copyright {
    position: relative;
    color: rgb(168, 168, 168);
    font-size: clamp(.8rem, 1vw, .9rem);
    text-align: center;
    width: 90%;
    margin: 8rem auto 1rem auto;
  }

  footer {
    margin-top: -6rem;
  }