@media screen and (max-width: 768px) {
    body {
        background: rgb(23, 22, 22) !important;
    }
    footer .nav-ul {
        display: none;
    }
    footer .mobile-nav {
        display: flex;
        flex-direction: column;
        height: 400px;
        align-items: center;
        justify-content: space-evenly;
    }
    footer .mobile-nav li a {
        color: rgb(148, 148, 148);
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: clamp(1.2rem, 2vw, 1.7rem);
    }
    footer .mobile-nav li a:hover, 
    footer .mobile-nav li a:focus, 
    footer .mobile-nav li a:active {
        color: #c55050;
    }
    footer .copyright {
        margin-top: 4rem;
    }
    footer .home-bottom {
        margin-left: -20px;
        bottom: 3rem;
    }
}
@media screen and (min-width: 2000px) {
    .nav-ul li a {
      font-size: 1.75rem !important;
    } 
  }