  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem auto 5rem auto;
  }
  .home-top {
    position: absolute;
    top: -5rem;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
  }

  .home-top:hover path, 
  .home-top:focus-within path, 
  .home-top:active path {
    fill: #c55050;
    transition: .2s;
  }

  /* NAV/FOOTER STYLES */
  nav {
    width: 100%;
  }

  @keyframes Pulse {
    50% {
      transform: scale(1.2);
    }
  }
  .heart {
    animation: Pulse 1.5s infinite ease-in-out;
  }

  .mobile-heart {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .nav-ul {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .nav-ul li {
    margin: 0 auto;
    /* width: max-content; */
  }

  .nav-ul li a {
    color: rgb(168, 168, 168);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    transition: .2s;
    position: relative; /* needed for underline */
    font-size: clamp(1.1rem, 2vw, 1.3rem);
  }

  .nav-ul li a:hover, 
  .nav-ul li a:focus, 
  .nav-ul li a:active {
    color: #c55050;
  }

    /* UNDERLINE FROM MIDDLE */
.hover-text-from-middle::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  right: 100%;
  bottom: -5px;
  border-bottom: 2px solid #c55050;
  transition: .5s;
}
.hover-text-from-middle::before {
  content: '';
  position: absolute;
  display: block;
  right: 50%;
  left: 100%;
  bottom: -5px;
  border-bottom: 2px solid #c55050;
  transition: .5s;
}

.item-to-underline:hover .hover-text-from-middle::after {
  right: -2px; /* 10px goes to the edge of the text, 0 is too far */
}
.item-to-underline:hover .hover-text-from-middle::before {
  left: 0;
}

  .home-bottom {
    position: absolute;
    bottom: 3.2rem;
    left: 50%;
    margin-left: -21px;
    cursor: pointer;
  }

  .home-bottom:hover path, 
  .home-bottom:focus-within path, 
  .home-bottom:active path {
    fill: #c55050;
    transition: .2s;
  }

  .copyright {
    position: relative;
    color: rgb(168, 168, 168);
    font-size: clamp(.8rem, 1vw, .9rem);
    text-align: center;
    width: 90%;
    margin: 8rem auto 2rem auto;
  }