@media screen and (max-width: 583px) {
    .social-icons {
        width: 50% !important;
    }
    .title {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 727px) {
    .title {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}