 .hamburger {
    display: none;
    background: none;
    outline: none;
    border: none;
  }
  .mobile-nav {
    display: none;
  }
  
  .container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    max-width: 100%;
  }

  .page-container {
    position: relative;
    width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
  }

  .hero-title {
    color: #c55050;
    font-size: clamp(3rem, 6vw, 5rem);
    letter-spacing: .15rem;
    text-align: center;
    font-weight: 700;
    width: 95%;
    margin: 0 auto;
  }
  .period {
    display: inline-block; /* animation on span won't work without display property */
    color: rgb(168, 168, 168);
    text-shadow: 0px -3px 9px rgba(255, 255, 255, 0.8), 0px 1px 9px rgba(255, 255, 255, 0.8);
    animation: Jump 1.5s ease-in-out 5;
    font-size: clamp(2.5rem, 3vw, 3.5rem);
  }
  @keyframes Jump {
    50% {
      transform: translateY(-7px);
    }
  }

  .hero-gray {
    color: rgb(168, 168, 168);
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 300;
    margin-top: 1rem;
  }

  .hero-buttons {
    display: flex;
    margin-bottom: 2rem;
  }

  .hero-btn {
    color: rgb(168, 168, 168);
    background-color: transparent;
    border: 2px solid rgb(168, 168, 168);
    border-radius: 40px;
    cursor: pointer;
    margin: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    transition: .2s ease-in-out;
    box-shadow: 0px 2px 3px rgba(95, 88, 88, 0.4);
    position: relative;
  }
  .hero-btn:hover, 
  .hero-btn:focus-within, 
  .hero-btn:active {
    color: #171616;
    background-color: #c55050;
    border: 2px solid rgb(23, 22, 22);
  }
  .hero-btn a {
    text-decoration: none;
    display: block; /* display block allows height and width to be edited */
    color: inherit;
    height: 3.5rem; /* height of button. specifying height/width makes whole button clickable */
    width: 10rem; /* width of button */
    line-height: 3.5rem; /* needed to center text, must equal height */
  }

  /* IMAGE SWAP ON BUTTON HOVER */
  /* -------------------------- */
  .resume-text {
    opacity: 1;
    transition: .4s ease-in-out;
  }
  .hero-btn:hover .resume-text, 
  .hero-btn:focus-within .resume-text,
  .hero-btn:active .resume-text {
    opacity: 0;
  }
  .resume-icon-container {
    /* shares same height, width and line height as text */
    position: absolute;
    top: 0%;
    height: 3.5rem;
    width: 10rem;
    line-height: 3.5rem;
  }
  .resume-icon {
    position: absolute;
    top: .3rem;
    left: 3.7rem;
    width: 45px;
    opacity: 0;
    transition: .4s ease-in-out;
    transform: translateX(-110px);
  }
  .hero-btn:hover .resume-icon, 
  .hero-btn:focus-within .resume-icon,
  .hero-btn:active .resume-icon {
    opacity: 1;
    transform: translate(0px);
  }

  /* github button text swap styles */
  .github-text {
    opacity: 1;
    transition: .4s ease-in-out;
  }
  .hero-btn:hover .github-text, 
  .hero-btn:focus-within .github-text,
  .hero-btn:active .github-text {
    opacity: 0;
  }
  .github-container {
    /* shares same height, width and line height as text */
    position: absolute;
    top: 0%;
    height: 3.5rem;
    width: 10rem;
    line-height: 3.5rem;
  }
  .github-icon {
    position: absolute;
    top: .3rem;
    left: 3.7rem;
    width: 45px;
    opacity: 0;
    transition: .4s ease-in-out;
    transform: translateX(110px);
  }
  .hero-btn:hover .github-icon, 
  .hero-btn:focus-within .github-icon,
  .hero-btn:active .github-icon {
    opacity: 1;
    transform: translate(0px);
  }
  /* -------------------------- */
  /* -------------------------- */

  .hero-p {
    padding-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: #c55050;
    max-width: 70%;
    text-align: center;
    line-height: 1.75rem;
  }

  .hero-p-title {
    color: rgb(168, 168, 168);
    font-size: clamp(1.7rem, 2vw, 3rem);
    text-align: center;
    width: 85%;
  }
  
  /* TYPEWRITER ANIMATION */
  .typewriter {
    display: inline-block;
  }
  .typewriter-text {
    display: inline-block;
    overflow: hidden;
    animation: typing 5s steps(54, end), blink .75s step-end 9 forwards;
    white-space: nowrap;
    border-right: 3px solid #00ffffb3;
  }
  @keyframes typing {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes blink {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: #00ffffb3;
    }
  }
/* ---------------------- */

  nav {
    width: 100%;
    margin-bottom: 4rem;
  }

  @keyframes Pulse {
    50% {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  }
  .heart {
    transform: scale3d(1, 1, 1);
    animation: Pulse 1.5s infinite ease-in-out;
  }

  .mobile-heart {
    display: none;
  }
  .cat-link {
    display: none;
  }

  .nav-ul {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .nav-ul li {
    flex: 20%; /* each li takes up 20% of the space */
    text-align: center;
  }

  .nav-ul li a {
    color: rgb(168, 168, 168);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    transition: .2s;
    position: relative; /* needed for underline */
  }
  .nav-ul li a:hover, 
  .nav-ul li a:focus, 
  .nav-ul li a:active {
    color: #c55050;
  }

  /* UNDERLINE FROM MIDDLE */
.hover-text-from-middle::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  right: 100%;
  bottom: -5px;
  border-bottom: 2px solid #c55050;
  transition: .5s;
}
.hover-text-from-middle::before {
  content: '';
  position: absolute;
  display: block;
  right: 50%;
  left: 100%;
  bottom: -5px;
  border-bottom: 2px solid #c55050;
  transition: .5s;
}
   /* ------------------------ */

.item-to-underline:hover .hover-text-from-middle::after {
  right: -2px; /* 10px goes to the edge of the text, 0 is too far */
}
.item-to-underline:hover .hover-text-from-middle::before {
  left: 0;
}

  footer {
    width: 100%;
  }

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin: 0 auto;
  }
  .icon path {
    fill: "#a8a8a8";
    transition: .35s;
  }
  .icon:hover path, 
  .icon:focus-within path, 
  .icon:active path {
    fill: #c55050;
  }

  .copyright {
    color: rgb(168, 168, 168);
    font-size: .7rem;
    text-align: center;
    width: 90%;
    margin: 2rem auto 1rem auto;
  }
