/* makes a two column-layout instead of four columns */
@media screen and (max-width: 950px) {
    .photo-column {
      max-width: 50%;
      flex: 40%; /* less than 50% leaves room for padding */
    }
  }
/* makes columns stack in one column on mobile view */
@media screen and (max-width: 491px) {
    p {
        line-height: 2.3rem;
    }
   .photo-column {
    max-width: 100%;
    flex: 100%;
    }
  }

@media screen and (max-width: 580px) {
    p {
        width: 75%;
    }
}

  @media screen and (max-width: 398px) {
      .hero-title {
          margin: 7rem 1rem .5rem 1rem;
          text-align: center;
      }
    }
@media screen and (max-width: 768px) {
    .nav-ul {
        display: none;
    }
    .mobile-nav {
        position: relative;
        top: 1rem;
        display: flex;
        flex-direction: column;
        height: 400px;
        align-items: center;
        justify-content: space-evenly;
    }
    .mobile-nav li a {
        color: rgb(148, 148, 148);
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    .mobile-nav li a:hover, 
    .mobile-nav li a:focus, 
    .mobile-nav li a:active {
        color: #c55050;
    }
    .home-bottom {
        bottom: 4.5rem;
        margin-left: -20px;
    }
    .copyright {
        margin-top: 4rem;
    }
}